@model Models.Pathology.DoctorModel;

<div class="row-fluid">
    <div class="span12 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list glyph"></i> Doctor List</h4>
                <div class="widget-tool"><a class="btn btn-green btn-small btn-glyph" onclick="AddNewDoctor()"><i class="fa fa-plus"></i> Doctor</a></div>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <fieldset>
                                <ul class="form-list list-bordered dotted">
                                    <li class="control-group" id="tblMasterList">
                                        <div class="widget widget-simple widget-table">
                                            <table id="exampleDTC" class="table table-striped table-content table-condensed boo-table table-hover bg-green-light">
                                                <caption class="caption-m"><span>Doctor List</span></caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Doctore Name<span class="column-sorter"></span></th>
                                                        <th scope="col">Gender<span class="column-sorter"></span></th>
                                                        <th scope="col">Mobile No.<span class="column-sorter"></span></th>
                                                        <th scope="col">Specialization<span class="column-sorter"></span></th>
                                                        <th scope="col">Address<span class="column-sorter"></span></th>
                                                        <th scope="col">Action<span class="column-sorter"></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.DoctorList.Count > 0)
                                                    {
                                                        foreach (var item in Model.DoctorList)
                                                        {
                                        <tr>
                                            <td>@item.DoctorName</td>
                                            <td>@item.GenderText</td>
                                            <td>@item.MobileNo</td>
                                            <td>@item.SpecializationText</td>
                                            <td>@item.Address</td>
                                            <td><a title="Edit" data-toggle="tooltip" onclick="DoctorOperations(@item.RowId,'E');"><i class="fa fa-pencil"></i></a> | <a title="Delete" data-toggle="tooltip" onclick="DeleteDoctorOperations(@item.RowId,'D');"><i class="fa fa-trash"></i></a></td>
                                        </tr> }
                                                    }
                                                    else
                                                    {
                                        <tr><td colspan="6"> Record Not Found ...</td></tr>}
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <!-- // form item -->
                                    <li>
                                        <div id="AddDoctor" class="modal hide fadee" data-keyboard="false" data-width="90%" data-backdrop="static">
                                        </div>
                                    </li>
                                </ul>
                            </fieldset>
                            <!-- // fieldset Input -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
</div>
<script src="~/lib/Script/Local/Pathology/Doctor.js"></script>



