@model Models.Pathology.TestBookingModel;
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
    <h4>Fill Advanced Result</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12 grider">
            <div class="widget well well-nice">
                <div class="widget-header">
                    <h4><i class="fa fa-list"></i> Advance Filling</h4>
                </div>
                <div class="widget-content">
                    <div class="widget-body">
                        <form id="itemForm" class="span12 form-horizontal">
                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset>
                                        <ul class="form-list label-left list-bordered dotted">
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="FirstNameAlias" class="control-label">From Range: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.FromRange, new { @class = "input-block-level" })
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="LastNameAlias" class="control-label">To Range: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.ToRange, new { @class = "input-block-level" })
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <div class="span6">
                                                    <label for="GenderAlias" class="control-label">Result: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.TestResult, new { @class = "input-block-level" })
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <label for="DOBAlias" class="control-label">Note: <span class="required">*</span></label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.Note, new { @class = "input-block-level" })
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                            <li class="control-group">
                                                <label for="MobileNoAlias" class="control-label">Interpretation: <span class="required">*</span></label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(m => m.Interpretation, new { @class = "input-block-level" })
                                                </div>
                                            </li>
                                            <li class="control-group">
                                                <div class="controls" style="text-align:center;">
                                                    <button type="button" id="btnCreate" title="Save" data-toggle="tooltip" OnClick="SaveTestResult(@Model.RowId,1,0,0,0,0)" class="btn btn-blue"><i class="fa fa-save"></i> Save</button>
                                                    <button type="button" id="btnUpdate" title="Close Model" data-toggle="tooltip" data-dismiss="modal" class="btn btn-blue"><i class="fa fa-close"></i> Close</button>
                                                </div>
                                            </li>
                                            <!-- // form item -->
                                        </ul>
                                    </fieldset>
                                    <!-- // fieldset Input -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // Widget -->
        </div>
        <!-- // Column -->
    </div>
</div>
<script>
    CKEDITOR.replace("Interpretation", { height: '170px', });
</script>
