@model Models.Pathology.TestBookingModel;
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="form-group row">
                    <input type="hidden" id="rowId" />
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">From Range:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.FromRange, new { @class = "form-control-sm" })
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">To Range:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ToRange, new { @class = "form-control-sm" })
                        @*<input type="text" class="form-control form-control-sm" id="txtToRange">*@
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Result:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.TestResult, new { @class = "form-control-sm" })
                        @*<input type="text" class="form-control form-control-sm" id="txtResult">*@
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Note:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Note, new { @class = "form-control-sm" })
                        @*<input type="text" class="form-control form-control-sm" id="txtNote">*@
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Interpretation:</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Interpretation, new { @class = "form-control-sm" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <button type="button" data-dismiss="modal" OnClick="SaveTestResult(@Model.RowId,1,0,0,0,0)" class="btn btn-outline-primary">Save</button>
                        <button type="button" data-dismiss="modal" class="btn btn-outline-primary">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace("Interpretation", { height: '170px', });
</script>
