
@model Models.ModelClasses.MasterModel
<div class="col-md-offset-2 col-md-10">
    <table class="table">
        <thead><tr><th scope="col">Name</th><th scope="col">Rate</th><th scope="col">Print Name</th><th scope="col">Action</th></tr></thead>
        <tbody>
            @if (Model.MasterDetails.Count()!= 0)
            {
                foreach (var item in Model.MasterDetails)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Rate</td>
                        <td>@item.PrintName</td>
                        <td><a onclick="MasterTypeData(@item.Id,U);"> Edit</a> | <a onclick="MasterTypeData(@item.Id,D);"> Delete</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4"> Record Not Found ...</td>
                </tr>
            }
        </tbody>
    </table>
</div>
