
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pathology Management Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/Layoutjquery")
    @Styles.Render("~/bundles/Layoutcss")
    <link href="~/Include/Global/Calender/css/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body>
    @{ Html.RenderPartial("_Header"); }

    <div class="container body-content">
        @Html.AntiForgeryToken()
        <h4>PageTitle</h4>
        @RenderBody()
    </div>
    <!-- Footer -->
    <div class="footer navbar-fixed-bottom">
        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a href="#">PMS Application</a>
            </div>
        </footer>
    </div>
    <!-- Footer -->
    @*@Scripts.Render("~/bundles/jquery")*@
    
    <script src="~/Include/Global/Calender/js/jquery.js"></script>
    <script src="~/Include/Global/Calender/js/jquery.datetimepicker.full.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!-- SmartMenus jQuery init -->
    @*<script>
        /*jslint browser:true*/
        /*global jQuery, document*/
        jQuery(document).ready(function () {
            'use strict';
            jQuery('#filter-date,#txtAnD,#txtDOB, #search-from-date, #search-to-date').datetimepicker();
        });
    </script>*@
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 6,
                subMenusSubOffsetY: -8
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
