
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pathology Management Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/Layoutcss")
    @Scripts.Render("~/bundles/Layoutjquery")
    <link href="~/Include/bootstrap/CSS/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="~/Include/bootstrap/JS/bootstrap-dialog.min.js"></script>
    <style>
        /*.navbar-inverse {
            background-color: #006cb7;
            border-color: #186cc3;
        }*/
        /*.navbar-inverse .navbar-nav > li > a {
                color: #FFF;
            }*/
        .alert {
            width: 40% !important;
        }
    </style>
</head>
<body>
    @{
        Html.RenderPartial("_Header");
    }

    <div class="container body-content">
        @{
            if (@ViewBag.AlertType != null)
            { <!-- Display Aletr Type-->
        <script type="text/javascript">

            $(function () {
                var dialog = new BootstrapDialog({
                    title: '@ViewBag.AlertType',
                    message: '@ViewBag.AlertMessage',
                    size: BootstrapDialog.SIZE_NORMAL,
                    type: BootstrapDialog.TYPE_@ViewBag.AlertType
                });
                dialog.open();
            });
        </script>
            }
        }
        @Html.AntiForgeryToken()
        @RenderBody()
    </div>
    <!-- Footer -->
    <div class="footer navbar-fixed-bottom">
        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a href="#">PMS Application</a>
            </div>
        </footer>
    </div>
    <!-- Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
