@model Models.Pathology.LabStaffModel;
<div class="row-fluid">
    <div class="span12 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list glyph"></i> Staff List</h4>
                <div class="widget-tool"><a class="btn btn-green btn-small btn-glyph" onclick="AddStaff(0)"><i class="fa fa-plus"></i> Add Staff</a></div>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <fieldset>
                                <ul class="form-list list-bordered dotted">
                                    <li class="control-group" id="tblMasterList">
                                        <div class="widget widget-simple widget-table">
                                            <table id="exampleDTC" class="table table-striped table-content table-condensed boo-table table-hover bg-green-light">
                                                <caption class="caption-m"><span>Staff List</span></caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name<span class="column-sorter"></span></th>
                                                        <th scope="col">Gender<span class="column-sorter"></span></th>
                                                        <th scope="col">Mobile No.<span class="column-sorter"></span></th>
                                                        <th scope="col">DOB<span class="column-sorter"></span></th>
                                                        <th scope="col">Employee Type<span class="column-sorter"></span></th>
                                                        <th scope="col">Merital Status<span class="column-sorter"></span></th>
                                                        <th scope="col">Address<span class="column-sorter"></span></th>
                                                        <th scope="col">Status<span class="column-sorter"></span></th>
                                                        <th scope="col">Action<span class="column-sorter"></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.LabStaffList.Count > 0)
                                                    {
                                                        foreach (var item in Model.LabStaffList)
                                                        {
                                        <tr>
                                            <td>@item.FirstName @item.LastName</td>
                                            <td>@item.GenderText</td>
                                            <td>@item.MobileNo</td>
                                            <td>@item.DOB</td>
                                            <td>@item.EmployeeTypeText</td>
                                            <td>@item.MeritalStatusText</td>
                                            <td>@item.Address</td>
                                            <td>@item.StatusName</td>
                                            <td><a title="Edit" data-toggle="tooltip" class="btn btn-yellow btn-mini no-wrap" onclick="AddStaff(@item.RowId);"><i class="fa fa-pencil"></i> Edit</a> <a title="Delete" data-toggle="tooltip" class="btn btn-blue btn-mini no-wrap" onclick="DeleteLabStaffData(@item.RowId,'D');"><i class="fa fa-trash"></i> Delete</a></td>
                                        </tr> }
                                                    }
                                                    else
                                                    {
                                        <tr><td colspan="6"> Record Not Found ...</td></tr>
}
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <!-- // form item -->
                                    <li><div id="AddStaff" class="modal hide fadee" data-keyboard="false" data-width="90%" data-backdrop="static">
                                    </div></li>
                                </ul>
                            </fieldset>
                            <!-- // fieldset Input -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
</div>
<script src="~/lib/Script/Local/Pathology/Staff.js"></script>