@model Models.Pathology.CompanyModel;
<div class="row-fluid">
    <div class="span12 grider">
        <div class="widget widget-simple">
            <div class="widget-header">
                <h4><i class="fa fa-list glyph"></i> Company List</h4>
                <div class="widget-tool"><a class="btn btn-green btn-small btn-glyph" onclick="AddCompany()"><i class="fa fa-plus"></i> Company</a></div>
            </div>
            <div class="widget-content">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <fieldset>
                                <ul class="form-list list-bordered dotted">
                                    <li class="control-group" id="tblMasterList">
                                        <div class="widget widget-simple widget-table">
                                            <table id="exampleDTC" class="table table-striped table-content table-condensed boo-table table-hover bg-green-light">
                                                <caption class="caption-m"><span>Company List</span></caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Lab Name<span class="column-sorter"></span></th>
                                                        <th scope="col">Lab Slogan Name<span class="column-sorter"></span></th>
                                                        <th scope="col">Phone No.<span class="column-sorter"></span></th>
                                                        <th scope="col">EmailId<span class="column-sorter"></span></th>
                                                        <th scope="col">WebSite<span class="column-sorter"></span></th>
                                                        <th scope="col">Address<span class="column-sorter"></span></th>
                                                        <th scope="col">Status<span class="column-sorter"></span></th>
                                                        <th scope="col">Action<span class="column-sorter"></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.CompanyList.Count > 0)
                                                    {
                                                        foreach (var item in Model.CompanyList)
                                                        {
                                                    <tr>
                                                        <td>@item.CompanyName</td>
                                                        <td>@item.SloganName</td>
                                                        <td>@item.PhoneNo</td>
                                                        <td>@item.EmailId</td>
                                                        <td>@item.WebSite</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.StatusName</td>
                                                        <td><a title="Edit" data-toggle="tooltip" class="btn btn-yellow btn-mini no-wrap" onclick="CompanyOperation(@item.RowId,'E');"><i class="fa fa-pencil"></i> Edit</a> <a title="Delete" data-toggle="tooltip" class="btn btn-blue btn-mini no-wrap" onclick="DeleteCompanyOperation(@item.RowId,'D');"><i class="fa fa-trash"></i> Delete</a></td>
                                                    </tr> }
                                                    }
                                                    else
                                                    {
                                        <tr><td colspan="6"> Record Not Found ...</td></tr>}
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <!-- // form item -->
                                    <li>
                                        <div id="AddCompany" class="modal hide fadee" data-keyboard="false" data-width="90%" data-backdrop="static">
                                        </div>
                                    </li>
                                </ul>
                            </fieldset>
                            <!-- // fieldset Input -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Widget -->
    </div>
    <!-- // Column -->
</div>
<script src="~/lib/Script/Local/Pathology/Company.js"></script>
